<div class="row">

  <div class="col-4">
    <div class="card text-bg-dark " style="width: 25rem;">
      <img src="https://res.cloudinary.com/teepublic/image/private/s--6eJ8qwYK--/t_Preview/b_rgb:191919,c_lpad,f_jpg,h_630,q_90,w_1200/v1605833837/production/designs/16292685_0.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Obanai Iguro</h5>
        <br>
        <p class="card-text">Obanai é conhecido por sua personalidade severa e exigente quando se trata da Demon Slayer Corps e seus guerreiros. Ele tem uma imensa devoção à Organização e pensa sobre o futuro dela, colocando seu dever acima de sua integridade física e de seus companheiros. Outro momento em que isso fica claro é quando Iguro afirma que Tengen deve lutar até a morte. </p>
        <a href="https://kimetsu-no-yaiba.fandom.com/wiki/Obanai_Iguro" class="btn">Saiba Mais</a>
      </div>
    </div>

  </div>  


<div class="col-4">
<div class="card text-bg-dark" style="width: 25rem;">
    <img src="https://th.bing.com/th/id/R.e18ad8b3d4088bd3d96e5b8cd8e553b5?rik=h6zWFLG6diJU4Q&pid=ImgRaw&r=0" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Yami</h5>
      <br>
      <p class="card-text">Como o capitão do esquadrão Touros Negros, Yami usa uma bandeira negra com a insígnia do esquadrão. Ele a usa sobre o ombro direito e a prende por duas cordas no ombro esquerdo. A bandeira também tem bordas esfarrapadas, parecendo ter sido roubado de uma bandeira maior.</p>
      <a href="https://blackclover.fandom.com/pt-br/wiki/Yami_Sukehiro" class="btn">Saiba Mais</a>
    </div>
  </div>

</div>



<div class="col-4">

  <div class="card text-bg-dark" style="width: 25rem;">
    <img src="https://res.cloudinary.com/teepublic/image/private/s--Xffj2jSy--/t_Preview/t_watermark_lock/b_rgb:191919,c_lpad,f_jpg,h_630,q_90,w_1200/v1606416561/production/designs/16546535_0.jpg" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title">Gojo Satoru</h5>
      <br>
      <p class="card-text">Satoru Gojo é um homem alto, muito mais alto que seus alunos, e aparentemente é considerado atraente por muitas mulheres. Ele tem cabelo branco que geralmente é espetado para cima, mas Gojo o deixa solto quando está em um traje mais casual. Gojo tem olhos azuis brilhantes, mas eles normalmente estão cobertos por sua venda preta característica ou um par de óculos escuros.</p>
      <a href="https://jujutsu-kaisen.fandom.com/wiki/Satoru_Gojo" class="btn">Saiba mais</a>
    </div>
  </div>

</div>  

</div>