<div id="carouselExampleIndicators" class="carousel slide">
	<div class="carousel-indicators">
	  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
	  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
	  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
	</div>
	<div class="carousel-inner">
	  <div class="carousel-item active">
		<img src="https://th.bing.com/th/id/R.ca0a7ad08655503cfd2619419fcf719c?rik=4P7f9DwwadXxOg&pid=ImgRaw&r=0" class="d-block w-50" alt="...">
	  </div>
	  <div class="carousel-item">
		<img src="https://th.bing.com/th/id/R.75e13fba76f5be7040fdb753c6e1b6fd?rik=R%2bWu07ds4AAxXA&riu=http%3a%2f%2fpv1.narvii.com%2fuploaded_cover%2f7593%2febb04221efb693e8ca4fe2b33248c14650068352r1-1280-720_raw.jpg&ehk=%2fHPTTHoB%2b0LhBmUydGhUkbGmO2ZIw3EFqVT8u5C6Nk8%3d&risl=&pid=ImgRaw&r=0" class="d-block w-50" alt="...">
	  </div>
	  <div class="carousel-item">
		<img src="https://www.xtrafondos.com/wallpapers/resoluciones/21/satoru-gojo-jujutsu-kaisen_2560x1440_7798.jpg" class="d-block w-50" alt="...">
	  </div>
	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
	  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	  <span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
	  <span class="carousel-control-next-icon" aria-hidden="true"></span>
	  <span class="visually-hidden">Next</span>
	</button>
  </div>